@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");

body {
    margin-left: 10px;
    background-color: #c2d1e9;
}

canvas, #canvas {
    width: 90%;
    height: 80%;
    display: block;
}

#uiContainer {
    font-family: sans-serif;
    text-shadow: none;
    background: aliceblue;
    pointer-events: all;
    position: fixed;
    padding: 5px;
    display: none;
}

#kernel-input input:not(#kernel-input #kernel-name-text-box),
#filter-input input:not(#filter-input #filter-name-text-box),
#color-input input:not(#color-input #color-name-text-box) {
    width: 60px;
    margin: 2px;
}

#control-list label {
    display: inline-block;
    width: 100px;
}

#control-list, #input-boxes, #filter-input, #color-input, #input-buttons, #ui-visibility-button {
    display: none;
}

#options {
    background: aliceblue;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
}

#options div {
    margin-bottom: 5px;
}

#ui {
    width: unset;

}

#ui table {
    width: 100%;
}

#ui tbody {
    display: grid;
}

#ui tr {
    padding: 5px;
}

#ui tr:nth-child(2n+1) {
    background: lightsteelblue;
}

#ui tr:nth-child(2n) {
    background: lavender;
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modal-button {
    position: absolute;
    padding: 5px;
    height: 21.5px;
    align-items: center;
    display: flex;
    right: 5px;
    top: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}