@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");

body {
    margin-left: 10px;
    background-color: #c2d1e9;
}

canvas, #canvas {
    width: 90%;
    height: 80%;
    display: block;
}

#uiContainer {
    font-family: sans-serif;
    text-shadow: none;
    background: aliceblue;
    pointer-events: all;
    position: fixed;
    padding: 5px;
}

#kernel-input input:not(#kernel-input #kernel-name-text-box),
#filter-input input:not(#filter-input #filter-name-text-box),
#color-input input:not(#color-input #color-name-text-box) {
    width: 60px;
    margin: 2px;
}

#control-list label {
    display: inline-block;
    width: 100px;
}

#control-list, #input-boxes, #filter-input, #color-input, #input-buttons, #ui-visibility-button {
    display: none;
}

#options {
    background: aliceblue;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
    margin-bottom: 5px;
}

#options div {
    margin-bottom: 5px;
}

#ui {
    width: unset;

}

#ui table {
    width: 100%;
}

#ui tbody {
    display: grid;
}

#ui tr {
    padding: 5px;
}

#ui tr:nth-child(2n+1) {
    background: lightsteelblue;
}

#ui tr:nth-child(2n) {
    background: lavender;
}